---
import { getPostUrl } from "@/utils/getPostPaths";
import config from "@/config";

type AdjacentPost = {
  id: string;
  title: string;
  filePath: string | undefined;
  index?: number;
} | null;

type Props = {
  prevPost: AdjacentPost;
  nextPost: AdjacentPost;
};

const { prevPost, nextPost } = Astro.props;
const locale = Astro.currentLocale ?? config.site.lang;
const items = [nextPost, prevPost].filter(
  (p): p is NonNullable<AdjacentPost> => p != null
);
---

{
  items.length > 0 && (
    <>
      <div class="section-label" style="margin-top: 30px;">
        SEE ALSO
      </div>
      <ul class="see-also" data-pagefind-ignore>
        {items.map((post, i) => (
          <li>
            <a href={getPostUrl(post.id, post.filePath, locale)}>
              <span class="arrow">→</span>
              {post.title}
              <span class="meta">
                {" "}
                ({post.index ?? i + 1})
              </span>
            </a>
          </li>
        ))}
      </ul>
    </>
  )
}
