---
import { getRelativeLocaleUrl } from "astro:i18n";
import config from "@/config";

const locale = Astro.currentLocale ?? config.site.lang;
---

{
  config.features.showBackButton && (
    <a
      id="back-button"
      class="back-index"
      href={getRelativeLocaleUrl(locale, "")}
    >
      ‹ index
    </a>
  )
}

<script>
  function updateGoBackUrl() {
    const backButton = document.querySelector<HTMLAnchorElement>("#back-button");
    const backUrl = sessionStorage.getItem("backUrl");
    if (backUrl && backButton) {
      backButton.href = backUrl;
    }
  }

  document.addEventListener("astro:page-load", updateGoBackUrl);
  updateGoBackUrl();
</script>
