---
import dayjs from "dayjs";
import utc from "dayjs/plugin/utc";
import timezone from "dayjs/plugin/timezone";
import config from "@/config";

dayjs.extend(utc);
dayjs.extend(timezone);

type Props = {
  class?: string;
  pubDatetime: string | Date;
  timezone?: string;
  modDatetime?: string | Date | null;
  format?: string;
};

const {
  pubDatetime,
  modDatetime,
  class: className = "",
  timezone: postTimezone,
  format = "YYYY-MM-DD",
} = Astro.props;

const isModified = modDatetime && modDatetime > pubDatetime;

const datetime = dayjs(isModified ? modDatetime : pubDatetime).tz(
  postTimezone ?? config.site.timezone
);

const date = datetime.format(format);
---

<span class:list={["post-date", className]}>
  <time datetime={datetime.toISOString()}>{date}</time>
</span>
